/***********Calculator styling***********/
* {
    font-family: monospace;
}

h2 {
    color: grey;
}

h4 {
    text-align: center;
    color: grey;
}

p {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-style: italic;
}

#container {
    width: 100vh;
    text-align: center;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

#clear:hover {
    color: #55CDFC;
    background-color: #F7A8B8;
}

#backspace:hover {
    color: #55CDFC;
    background-color: #F7A8B8;
}

#percent:hover {
    color: #55CDFC;
    background-color: #F7A8B8;
}

.number:hover {
    color: #F7A8B8;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty {
    background-color: white;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #55CDFC;
    color: white;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #55CDFC;
    color: white
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #55CDFC;
    color: white
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #55CDFC;
    color: white;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #55CDFC;
    color: white;
}
/******************Animated background styling***************/

  body {
      background: linear-gradient(-45deg, #55CDFC, #FFFFFF, #F7A8B8);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }